@import "../../assets/scss/variables";

.LayoutHome {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.50)), url(https://cdn-whatsontap.s3-us-west-2.amazonaws.com/assets/img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(236,184,7, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }

  .content-section-heading {
    color: $secondary;
  }

  .text-faded {
    color: $secondary;
    font-size: 2rem;
  }

  @media (max-width: 414px) {
    .text-faded {
      color: $secondary;
      font-size: 1rem;
    }

  }

  .footer {
    position: fixed;
    bottom: 10px;
    width: 100%;

    .container {
      p {
        color: $secondary !important;
      }
    }
  }

  header {
    nav {
      background-color: transparent;

      a {
        color: $secondary !important;

        &.navbar-brand {
          font-family: 'Lobster', cursive;
        }

        &.nav-link {
          font-weight: bold;
        }

        &:hover {
          text-decoration: underline !important;
        }

        &:focus {
          text-decoration: underline !important;
        }
      }
    }
  }

  .masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;

    h1, h3 {
      color: $secondary;

      p {
        font-style: italic;
      }
    }

    h1 {
      font-size: 5rem;
      margin: 0;
      padding: 0;
    }

    input {
      border-radius: 10px;
      border: 1px solid black;
      height: 40px;
      font-family: 'Source Sans Pro';
    }

    @media (max-width: 320px) {
      h1 {
        font-size: 2rem;
      }

      h3 {
        font-size: 1rem;
      }
    }

    @media (max-width: 414px) and (min-width: 321px) {
      h1 {
        font-size: 3rem;
      }

      h3 {
        font-size: 1.2rem;
      }
    }
  }
}


